<h3>Satellite Counts:</h3>
<div class="counts">
  <div>
    Total: <span>{{ satellites.length }}</span>
  </div>
  <div>
    Space Debris:
    <span>{{ countSatellites("Space Debris", 0) }}</span>
  </div>
  <div>
    Communication:
    <span>{{ countSatellites("Communication", 0) }}</span>
  </div>
  <div>
    Probe:
    <span>{{ countSatellites("Probe", 0) }}</span>
  </div>
  <div>
    Positioning: <span>{{ countSatellites("Positioning", 0) }}</span>
  </div>
  <div>
    Space Station:<span>{{ countSatellites("Space Station", 0) }}</span>
  </div>
  <div>
    Telescope:<span>{{ countSatellites("Telescope", 0) }}</span>
  </div>
</div>
